version: '3.8'

services:
  traefik:
    image: traefik:3.3
    container_name: traefik
    restart: always
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      - --certificatesresolvers.letsEncrypt.acme.httpChallenge=true
      - --certificatesresolvers.letsEncrypt.acme.httpChallenge.entryPoint=http
      - --certificatesresolvers.letsEncrypt.acme.email=mail@2bstock.ru
      - --certificatesresolvers.letsEncrypt.acme.storage=/certs/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-certs:/certs
    networks:
      - traefik-public
    labels:
      - traefik.enable=true
      - traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)
      - traefik.http.routers.http-catchall.entrypoints=http
      - traefik.http.routers.http-catchall.middlewares=redirect-to-https
      - traefik.http.routers.http-catchall.priority=1
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true

  site:
    # ЗАМЕНА: Тянем образ из GitHub Registry
    image: ghcr.io/${GITHUB_REPOSITORY}/nginx:latest
    container_name: site-nginx
    restart: always
    depends_on:
      - site-php-fpm
    expose:
      - "80"
    networks:
      - traefik-public
      - default
    labels:
      - traefik.enable=true
      - traefik.http.routers.myapp.rule=Host(`app.conwix.ru`)
      - traefik.http.routers.myapp.entrypoints=https
      - traefik.http.routers.myapp.tls=true
      - traefik.http.routers.myapp.tls.certresolver=letsEncrypt
      - traefik.http.services.myapp.loadbalancer.server.port=80
      - traefik.docker.network=traefik-public

  site-php-fpm:
    image: ghcr.io/${GITHUB_REPOSITORY}/php-fpm:latest
    container_name: site-php-fpm
    restart: always
    environment: &php_env
      REDIS_SESSION_DSN: redis://redis-realtime:6379/1
      REDIS_DSN: redis://redis-realtime:6379/0
      DATABASE_URL: pgsql://app:${POSTGRES_PASSWORD}@site-postgres:5432/app
      APP_ENV: prod
      APP_SECRET: ${APP_SECRET}
      REDIS_REALTIME_HOST: redis-realtime
      REDIS_REALTIME_PORT: 6379
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
    networks:
      - default
    depends_on:
      - site-postgres

  site-php-cli:
    image: ghcr.io/${GITHUB_REPOSITORY}/php-cli:latest
    container_name: site-php-cli
    environment:
      <<: *php_env
    networks:
      - default
    depends_on:
      - site-postgres

  socket-server:
    image: ghcr.io/${GITHUB_REPOSITORY}/socket-server:latest
    container_name: socket-server
    restart: always
    environment:
      APP_SECRET: ${APP_SECRET}
      SOCKET_PATH: /socket.io
      PORT: 3001
      REDIS_URL: redis://redis-realtime:6379
      NODE_ENV: 'prod'
    networks:
      - traefik-public
      - default
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:3001/health" ]
    depends_on:
      - redis-realtime
    labels:
      - traefik.enable=true
      - traefik.http.routers.socket.rule=Host(`app.conwix.ru`) && PathPrefix(`/socket.io`)
      - traefik.http.routers.socket.entrypoints=https
      - traefik.http.routers.socket.tls=true
      - traefik.http.routers.socket.tls.certresolver=letsEncrypt
      - traefik.http.services.socket.loadbalancer.server.port=3001
      - traefik.docker.network=traefik-public

  site-postgres:
    image: postgres:15-alpine
    container_name: symfony-postgres
    restart: always
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default

  redis-realtime:
    image: redis:alpine
    container_name: redis-realtime
    restart: always

volumes:
  traefik-certs:
  postgres_data:

networks:
  traefik-public:
    external: true