{# templates/chat/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Чат-центр{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Чат-центр</h1>

    <div id="chat-center-root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('chatCenter') }}
{% endblock %}
